@import url("http://fonts.googleapis.com/css?family=Roboto:300");

html {
	font-family: 'Roboto-Light', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Audiowide';
	font-style: normal;
	font-weight: 400;
	src: local('Audiowide'), local('Audiowide-Regular'),
		url("http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff")
		format('woff');
}

body,html {
	height: 100%;
}

.root {
	background: #fff;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
}

.contentContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.content {
	-webkit-box-flex: 5;
	-moz-box-flex: 5;
	-o-box-flex: 5;
	box-flex: 5;
	-webkit-flex: 5;
	-ms-flex: 5;
	flex: 5;
	padding: 1rem;
	background: #f5f5f5;
}

.filelist {
	list-style: none;
	border-top: 1px solid #d3d3d3;
}

.file {
	border-bottom: 1px solid #d3d3d3;
	padding: 0.5rem 2rem;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
}

.file:hover {
	background: #373d40;
	color: #fff;
}

.file:hover .fileToolIcon {
	color: #fff;
}

.filename {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	line-height: 2rem;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.fileTools {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	cursor: pointer;
}

.fileTool {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	margin-right: 1rem;
	height: 2rem;
	line-height: 2rem;
}

@media screen and (min-width: 768px) {
	.fileTool {
		padding: 0 0.5rem;
	}
}

.fileTool:hover {
	color: #ffa500;
}

.fileTool:hover .fileToolIcon {
	color: #ffa500;
}

.fileToolText {
	display: none;
	margin-right: 0.3rem;
	height: 2rem;
}

@media screen and (min-width: 768px) {
	.fileToolText {
		display: block;
	}
}

.fileToolIcon {
	background: #373d40;
	color: #fff;
	padding: 0 0.5rem;
	border: 1px solid #808080;
}

@media screen and (min-width: 768px) {
	.fileToolIcon {
		background: none;
		color: #000;
		padding: 0;
		border: 0 none transparent;
	}
}

.folderTitle {
	color: #373d40;
	margin-bottom: 1rem;
}

.folderTitle a {
	color: #373d40;
	text-decoration: none;
}

.folderTitle a:hover {
	text-decoration: underline;
}

.side {
	background: #373d40;
	padding: 1rem;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex-basis: auto;
	flex-basis: auto;
}

.side ul {
	list-style: none;
}

.side a {
	color: #fff;
	text-decoration: none;
	padding: 0.5rem;
	display: block;
	border-bottom: 1px solid #24282c;
}

.side a:hover {
	background: #808080;
}

.side .active {
	border-left: 3px solid #ffa500;
}

.side .subMenu a {
	padding-left: 1rem;
}

.side .fa {
	margin-left: 0.3rem;
}

.sidebar {
	display: none;
}

.menu {
	-moz-order: -1;
	-o-order: -1;
	-ms-order: -1;
	-webkit-order: -1;
	order: -1;
}

.topbar {
	background: #24282c;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	color: #fff;
	min-height: 3rem;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 1rem;
}

.siteTitle {
	font-size: 2rem;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	line-height: 3rem;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	font-family: 'Audiowide';
}

.siteTitle a {
	text-decoration: none;
	color: #fff;
}

.siteTitle a:hover {
	color: #ffa500;
}

.siteTitle .fa {
	margin-left: 0.3rem;
	color: #ffa500;
}

.userActions {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
}

.userName,.logout {
	margin-right: 2rem;
}

.userName a,.logout a {
	color: #fff;
	text-decoration: none;
	line-height: 3rem;
	white-space: nowrap;
}

.userName a:hover,.logout a:hover {
	color: #ffa500;
}

.userName .fa,.logout .fa {
	margin-right: 0.3rem;
}

.logout {
	color: #fff;
	text-decoration: none;
}

.screenTitle {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	line-height: 3rem;
	margin-right: 2rem;
}

.footer {
	height: 2rem;
	line-height: 2rem;
	background: #24282c;
	color: #fff;
	padding: 0 2rem;
}

.formRow {
	display: flex;
	margin: 1rem 0;
}

.formRow label,.formRow input,.formRow span {
	flex: 1;
	height: 34px;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.4;
	outline: 0;
	border: 1px solid #ccc;
	border: 1px solid #ccc;
	border-right: none;
	color: #333;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	background: transparent;
	border-right: none;
	color: #333;
	-webkit-box-shadow: none
}

.formRow label:last-child,.formRow input:last-child,.formRow span:last-child  {
	
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	
	border-right: 1px solid #ccc;
}

.formRow label:first-child,.formRow input:first-child,.formRow span:first-child  {
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.ui-inputfield.ui-state-focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}