<ui:composition template="templateLogInRequired.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="title"><h:outputText value="#{msg.file_upload_title}"/></ui:define>
	
	<ui:define name="loginContent">
		<h:form>
			<p:fileUpload fileUploadListener="#{fileUploadBean.handleFileUpload}" mode="advanced"
				dragDropSupport="true" multiple="true" sizeLimit="1000000000" />
		</h:form>
	</ui:define>
	
</ui:composition>