<ui:composition template="templateLogInRequired.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="title"><h:outputText value="#{msg.file_overview_title}"/></ui:define>
	
	<ui:define name="loginContent">
		<h:form id="form">
			<p:fieldset legend="#{msg.yourFiles}">
				<p:dataTable id="availableFiles" var="file" value="#{fileOverviewBean.fileDataModel}" rows="20"
					selection="#{fileOverviewBean.selectedFile}" selectionMode="single" emptyMessage="#{msg.empty_datatable}"
					paginator="true">
					<p:ajax event="rowSelect" update=":form:dialogDisplay" oncomplete="PF('fileDetail').show();"/>
					
					<p:column style="width:20px">
						<h:outputText id="dragIcon"
							styleClass="ui-icon ui-icon-arrow-4"/>
						<p:draggable for="dragIcon" revert="true"/>
					</p:column>
					
					<p:column headerText="#{msg.fileCollHeaderName}">
						#{file.fileName}
					</p:column>
				</p:dataTable>
			</p:fieldset>
			
			<p:fieldset id="selectedFiles" legend="#{msg.download}">
				<p:commandButton id="download" value="#{msg.download}" ajax="false" icon="ui-icon-arrowthick-s">
					<p:fileDownload value="#{fileOverviewBean.zipDownloadFile}"/>
				</p:commandButton>
				
				<p:outputPanel id="dropArea">
					<h:outputText value="#{msg.clearDownloadDropArea}" rendered="#{empty fileOverviewBean.dropedFiles}" />
					
					<p:dataTable var="file" value="#{fileOverviewBean.dropedFiles}"
						rendered="#{not empty fileOverviewBean.dropedFiles}" rows="10"
						paginator="true">
						
						<p:column headerText="#{msg.fileCollHeaderName}">
							#{file.fileName}
						</p:column>
					</p:dataTable>
				</p:outputPanel>
			</p:fieldset>
			
			<p:droppable for="selectedFiles" tolerance="touch" activeStyleClass="ui-state-highlight"
				datasource="availableFiles">
				<p:ajax listener="#{fileOverviewBean.onDropFile}" update="dropArea"/>
			</p:droppable>
			
			<p:dialog header="#{msg.dialogHeader}" widgetVar="fileDetail" modal="true"
				showEffect="fade" hideEffect="fade" closeOnEscape="true" resizable="false">
				<h:panelGrid id="dialogDisplay">
					<h:panelGrid columns="2">
						<h:outputText value="#{msg.dialogName}:" />
						<h:outputText value="#{fileOverviewBean.selectedFile.fileName}" />
						<p:commandButton id="singleDownload" value="#{msg.download}" ajax="false">
							<p:fileDownload value="#{fileOverviewBean.downloadFile}"/>
						</p:commandButton>
						<p:commandButton id="fileDelete" value="#{msg.delete}" ajax="false"
							actionListener="#{fileOverviewBean.deleteFile}" action="fileoverview"/>
					</h:panelGrid>
				</h:panelGrid>
			</p:dialog>
		</h:form>
	</ui:define>
	
</ui:composition>