<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="title"><h:outputText value="#{msg.home}" /></ui:define>
	
	<ui:define name="content">
		<h:outputText value="#{msg.welcome}" />
	</ui:define>
	
</ui:composition>