<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title"><h:outputText value="#{msg.home}" /></ui:define>

	<ui:define name="content">
		<h:form>
			<div class="formRow">
				<h:outputLabel value="#{msg.username}" for="username" />
				<h:inputText required="true" value="#{loginBean.username}"
					id="username" requiredMessage="#{err.required}"
					binding="#{usernameForValidator}">

				</h:inputText>
				<h:message for="username" styleClass="formError" />
			</div>

			<div class="formRow">
				<h:outputLabel value="#{msg.password}" for="password" />
				<h:inputSecret required="true" value="#{loginBean.password}"
					requiredMessage="#{err.required}" id="password"
					validator="#{loginBean.validateLogin}">
					<f:attribute name="usernameForValidator"
						value="#{usernameForValidator}" />
				</h:inputSecret>
				<h:message for="password" styleClass="formError" />
			</div>

			<h:commandButton action="#{loginBean.login}" value="#{msg.login}" />
		</h:form>
	</ui:define>

</ui:composition>