<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<h:outputText value="#{msg.home}" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<div class="formRow">
				<h:outputLabel value="#{msg.username}" for="username" />
				<h:inputText required="true" value="#{registerBean.username}"
					id="username" requiredMessage="#{err.required}"
					validator="#{registerBean.validateUsername}">

				</h:inputText>
				<h:message for="username" styleClass="formError" />
			</div>

			<div class="formRow">
				<h:outputLabel value="#{msg.email}" for="email" />
				<h:inputText required="true" value="#{registerBean.email}"
					id="email" requiredMessage="#{err.required}">
				</h:inputText>
				<h:message for="email" styleClass="formError" />

			</div>
			<div class="formRow">
				<h:outputLabel value="#{msg.password}" for="password1" />
				<p:password id="password1" value="#{registerBean.password}"
					feedback="true" required="true" requiredMessage="#{err.required}"
					goodLabel="#{msg.goodLabel}" weakLabel="#{msg.weakLabel}"
					strongLabel="#{msg.strongLabel}" promptLabel="#{msg.promptLabel}"
					match="password2" label="#{msg.password}">

				</p:password>
				<h:message for="password1" styleClass="formError" />

			</div>
			<div class="formRow">
				<h:outputLabel value="#{msg.passwordRepeat}" for="password2" />
				<p:password id="password2" value="#{registerBean.password}"
					required="true" requiredMessage="#{err.required}"
					label="#{msg.passwordRepeat}">

				</p:password>
				<h:message for="password2" styleClass="formError" />
			</div>

			<h:commandButton action="#{registerBean.register}"
				value="#{msg.register}" />
		</h:form>
	</ui:define>

</ui:composition>