<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="content">
		<ui:fragment rendered="#{userSession.loggedIn}">
			<ui:insert name="loginContent" />
		</ui:fragment>
		<ui:fragment rendered="#{!userSession.loggedIn}">
			<h:outputText value="#{msg.please_login}" />
<!-- 			Link zur login Seite -->
			<ui:insert name="additionalLogoutContent" />
		</ui:fragment>
	</ui:define>
</ui:composition>