<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cloud - <ui:insert name="title" /></title>
	<link
		href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
		rel="stylesheet" />
	<meta name="viewport" content="width=device-width" />

	<ui:insert name="sideTags" />
</h:head>

<h:body>
	<div class="root">
		<h:form>
			<div class="topbar">

				<div class="siteTitle">
					<h:commandLink action="index">
						<h:outputText value="#{msg.sitename}"></h:outputText>
						<i class="fa fa-save"></i>
					</h:commandLink>
				</div>


				<div class="screenTitle">
					<h2>
						<ui:insert name="title" />
					</h2>
				</div>
				<div class="userActions">
					<ui:fragment rendered="#{userSession.loggedIn}">

						<div class="userName">
							<h:commandLink action="index">
								<i class="fa fa-user fa-lg" />
								<h:outputText value="#{userSession.username}" />
							</h:commandLink>
						</div>

						<div class="logout">
							<h:commandLink action="#{userSession.loggingOut}">
								<i class="fa fa-lock fa-lg"></i>
								<h:outputText value="#{msg.logout}" />
							</h:commandLink>
						</div>

					</ui:fragment>

					<ui:fragment rendered="#{!userSession.loggedIn}">
						<div class="logout">
							<h:commandLink action="login">
								<i class="fa fa-lock fa-lg"></i>
								<h:outputText value="#{msg.login}" />
							</h:commandLink>
						</div>
					</ui:fragment>
				</div>


			</div>
		</h:form>
		<div class="contentContainer">
			<div class="content">
				<ui:insert name="content" />
			</div>

			<div class="side sidebar">

				<ui:insert name="sidebar" />

			</div>

			<div class="menu side">
				<h:form>
					<ul>
						<ui:fragment rendered="#{!userSession.loggedIn}">
							<li><h:commandLink value="#{msg.register}" action="register" /></li>
						</ui:fragment>

						<ui:fragment rendered="#{userSession.loggedIn}">
							<li><h:commandLink value="#{msg.fileoverview}"
									action="fileoverview" /></li>
							<li><h:commandLink value="#{msg.fileupload}"
									action="fileupload" /></li>
						</ui:fragment>

						<ui:insert name="aditionalMenuItems" />
					</ul>
				</h:form>
			</div>
		</div>
	</div>
	<div class="footer">
		<h:outputText value="#{msg.footer_text}"></h:outputText>
	</div>
</h:body>

<link rel="stylesheet" type="text/css" href="style/main.css" />

</html>